.slide {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  >div {
    min-height: 100%;
  }
  &-content {
    background-color: transparent;
    min-height: 100%;
  }
}
