.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  >div {
    min-height: 100%;
  }
  &-content {
    padding-top: 50px;
    background-color: transparent;
    min-height: 100%;
  }
}
