.slide-welcome {
  background: url(../../assets/img/welcome-hong-kong-view.jpg) no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 30% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 30% 100%, 0 90%, 0 0);
  .slide-content {
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;
      text-align: left;
      @keyframes bounce {
        from { transform: translate3d(0, 0, 0); }
        to { transform: translate3d(0, 50px, 0); }
      }
      &-arrow {
        font-size: 2.5em;
        color: #FFFFFF;
        text-align: center;
        margin-top: 100px;
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        a {
          color: #FFFFFF;
        }
      }
      h1 {
        color: #FFFFFF;
        font-size: 6em;
        font-family: "Avenir Next";
        font-weight: 100;
        div {
          display: inline;
        }
      }
      .efaGep {
        color: #FFFFFF;
      }
    }
  }
}
