.ourteam-title{
  text-align: center;
  font-size: 2.5em;
  color: var(--maltem_red);
  margin-bottom: 20px;
  padding-top: 50px;
  :after, :before {
    position: absolute;
    margin-top: 25px;
    overflow: hidden;
    width: 30%;
    height: 3px;
    content: '\a0';
    background-color: var(--maltem_red);
    margin-left: 3%;
  }
  :before {
    margin-left: -33%;
    text-align: right;
  }
}
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  &-member {
    margin: 30px;
    text-align: center;
    a {
      margin-right: 5px;
      margin-left: 5px;
      color: inherit;
    }
    &-img {
      width: 200px;
      height: 200px;
      padding: 3px;
      background-color: var(--maltem_red);
    }
    img {
      width: 100%;
    }
    img, &-img {
      -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
      clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    }
    &-name {
      font-size: 1.2em;
      margin-top: 10px;
    }
    &-description {
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
