.slide-team {
  background-color: #EFEFEF;
}
.ourteam {
  &-description {
    text-align: center;
    font-size: 1.2em;
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
  }
}
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  &-member {
    margin: 30px;
    text-align: center;
    a {
      margin-right: 5px;
      margin-left: 5px;
      color: inherit;
    }
    &-img {
      width: 200px;
      height: 200px;
      padding: 3px;
      background-color: var(--maltem_red);
    }
    img {
      width: 100%;
    }
    img, &-img {
      -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
      clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    }
    &-name {
      font-size: 1.2em;
      margin-top: 10px;
    }
    &-description {
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
