.slide-key-figures {
  background: url(../../assets/img/hong-kong-by-night.jpeg) no-repeat fixed center;
  background-size: cover;
  .key-figures {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      color: white;
      :after, :before {
        background-color: white;
      }
    }
    .figures {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: flex-start;
      &-item {
        width: 300px;
        height: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        background-color: var(--maltem_red);
        text-align: center;
        transform: rotate3d(10, 10, 0, 20deg);
        -webkit-box-shadow: -12px 10px 53px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -12px 10px 53px -16px rgba(0, 0, 0, 0.75);
        box-shadow: -12px 10px 53px -16px rgba(0, 0, 0, 0.75);
        color: white;
        padding: 10px;
        &-img {
          position: absolute;
          width: 80px;
          bottom: -15px;
          right: 10px;
          z-index: -1;
          opacity: .3;
          -webkit-animation: inherit;
          animation: inherit;
        }
        &-title {
          font-size: 1.5em;
        }
        &-figure {
          font-size: 5em;
          font-weight: 900;
          color: rgb(169, 2, 20);
        }
        &-description {
          font-style: italic;
        }
      }
    }
  }
}
