.slide-general-information {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  .general-information {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    &-title {
      text-align: center;
      font-size: 2.5em;
      color: var(--maltem_red);
      margin-bottom: 20px;
    }
    &-description {
      text-align: center;
      font-size: 1.2em;
      padding: 0 50px 0 50px;
      margin-bottom: 50px;
    }
    &-ecosystem {
      width: 100%;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      > * {
        width: 45%;
      }
      > *:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
  }
}