.hide{
  top: -100px !important;
}
.header {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid var(--maltem_red);
  top: 0;
  transition: top .5s;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 30px 0 30px;
    margin: 0;
  }
  &-logo {
    max-height: 50px;
    margin-top: 6px;
  }
  a {
    color: #111111;
    text-decoration: none;
  }
}