html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  font-family: "Avenir Next";
}

#app, #app-content, #app > div {
  height: 100%;
}

:root {
  --maltem_red: rgb(209, 42, 60);
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
img {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}